@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700);

html, body {
  height: 100%;
}

body {
  line-height: 2em;
  color: #444;
  font-family: 'Libre Baskerville', serif;
  background: url("img/swirl_pattern.png");
  padding: 0;
}

.content {
  max-width: 650px;
  margin: -10px auto;
  padding: 10px 20px;
  background-color: white;
  box-shadow: 1px 2px 2px 1px rgba(10,10,10,.4);
}

.content  img {
  display: block;
  margin: 0 auto;
  max-width: 80%;
}

#me {
  display: block;
  margin: 0 auto;
  border-radius: 100px;
  padding: 1px;
  background-color: white;
  max-width: 175px;
  box-shadow: 1px 1px 1px 1px rgba(10,10,10,.4);
}

h1,h2,h3,h4 {
  line-height: 1;
}

h1 {
  font-size: 2.5em;
  text-transform: lowercase;
  text-align: center;
  margin: 10px;
}

h2,h3,h4 {
  text-transform: lowercase;
}

p {
  text-indent: 2em;
  text-align: justify;
  hyphens: auto;
}

ul {
  list-style: square;
}

.two-columns {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -ms-column-count: 2;
  column-count: 2;
}

ol {
  list-style: lower-roman;
}

li {
  line-height: 1.2rem;
  margin-bottom: 0.2em;
}

a {
  color: #961111;
  text-decoration: none;
  border-bottom: 1px dashed #961111;
}

a:hover {
  color: #444;
  border-bottom: 1px dashed #444;
}
