<!DOCTYPE html>
<html lang="en" ng-app="DewipDemo">
  <head>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link href="main.css" rel="stylesheet">
    <meta name="viewport" content="initial-scale=1" />
    <title>Decentralized Work-in-Process (DEWIP)</title>
  </head>
  <body layout="column" ng-controller="MainCtrl as main">
    <md-toolbar layout="row">
      <div class="md-toolbar-tools">
        <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
          <md-icon aria-label="Menu" md-svg-src="http://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
        </md-button>
        <h1>Decentralized Work-in-Process (DEWIP)</h1>
      </div>
    </md-toolbar>
    <div layout="row" flex>
      <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
        <a class="md-button" ng-click="scrollTo('instrucoes')">Instruções</a>
        <a class="md-button" ng-click="scrollTo('cadastro')">Cadastro de itens/máquinas</a>
        <a class="md-button" ng-click="scrollTo('leadtimes')">Lead times</a>
        <a class="md-button" ng-click="scrollTo('simulacao')">Simulação</a>
      </md-sidenav>
      <div layout="column" flex id="content">
        <md-content layout="column" class="md-padding">
          <h1 class="md-title" id="instrucoes">Instruções</h1>
          <p>
            O sistema de coordenação de ordens DEWIP é utilizado em ambientes <em>jobshop</em> de fluxos complexos. Trata-se de um sistema híbrido, onde um PCP central programa os itens que serão produzidos, e as decisões de <em>quando</em> produzir ficam decentralizadas entre os centros de produção.
          </p>
          <p>
            Assim que se torna disponível, um centro de trabalho quer determinar qual será o próximo item a ser processado. Para tanto, ele consulta cada um dos demais centros de produção, em busca de <em>aprovação</em> de seu trabalho.
          </p>
          <p>
            Os demais centros de produção, quando consultados, tomarão uma decisão baseada no WIP do item em questão em relação a um limite estabelecido. Se o limite for maior do que o WIP do produto em questão, a ordem de produção é autorizada. Caso contrário, procura-se outro centro de produção. Veremos a seguir um exemplo desse funcionamento.
          </p>
          <h1 class="md-title" id="cadastro">Cadastro de itens/máquinas</h1>
          <p>Digite os nomes das máquinas e dos itens a serem produzidos, separados por vírgula, ou <a href="#" ng-click="main.dummyData()">clique aqui para preencher com <em>dummy data</em></a>.</p>
          <md-input-container flex>
            <label>Itens</label>
            <input data-ng-model="main.itemsInput">
          </md-input-container>
          <md-input-container flex>
            <label>Máquinas</label>
            <input data-ng-model="main.machinesInput">
          </md-input-container>
          <md-input-container>
            <label>WIP máximo</label>
            <input type="number" data-ng-model="main.maxWip">
          </md-input-container>
          <div class="recap" layout="row">
            <div flex>
              <h4>Itens</h4>
              <ol>
                <li data-ng-repeat="item in main.items">
                  {{ item }}
                </li>
              </ol>
            </div>
            <div flex>
              <h4>Máquinas</h4>
              <ol>
                <li data-ng-repeat="machine in main.machines">
                  {{ machine }}
                </li>
              </ol>
            </div>
          </div>
          <h1 class="md-title" id="leadtimes"><em>Lead times</em></h1>
          <table flex>
            <thead>
              <tr>
                <th>Item</th>
                <th data-ng-repeat="machine in main.machines">{{ machine }}</th>
              </tr>
            </thead>
            <tbody>
              <tr data-ng-repeat="item in main.items">
                <td>
                  {{ item }}
                </td>
                <td data-ng-repeat="machine in main.machines">
                  <md-input-container>
                    <label>LT</label>
                    <input type="number" data-ng-model="main.leadtimes[item][machine]">
                </td>
              </tr>
            </tbody>
          </table>
          <h1 class="md-title" id="simulacao">Simulação</h1>
          <div class="md-whiteframe-z2">
            <h5>t = {{ main.currentTime }}</h5>
            <ul data-ng-show="main.currentTime">
              <li data-ng-repeat="machine in main.machines">
                {{ machine }} processa {{ main.processing[machine] }}
              </li>
            </ul>
            <div layout="row" data-ng-show="main.currentTime">
              <div flex>
                <h5>Processando</h5>
                <ul>
                    <li data-ng-repeat="item in main.items">
                    {{ item }}: {{ main.wipCount[item] || 0 }}
                    </li>
                </ul>
              </div>
              <div flex>
                <h5>Processados</h5>
                <ul>
                    <li data-ng-repeat="item in main.items">
                    {{ item }}: {{ main.complete[item] || 0 }}
                    </li>
                </ul>
              </div>
            </div>
            <p align="right">
              <md-button data-ng-click="main.goForward()">
                {{ main.currentTime ? 'Avançar' : 'Iniciar' }}
              </md-button>
            </p>
          </div>
          <pre>{{ main.currentWip | json }}</pre>
          <footer style="margin-top: 50px; border-top: 1px solid black">
            LÖDDING, H.; YU, K.-W.; WIENDAHL, H.-P. Decentralized WIP-oriented manufacturing control (DEWIP). <strong>Production Planning & Control</strong>, v. 14, n. 1, p. 42-54, 2003.
          </footer>
        </md-content>
      </div>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>
    <script src="main.js"></script>
  </body>
</html>
